@import '~antd/dist/antd.css';

html,
body,
#root {
  height: 100%;
}

.ant-layout {
  min-height: 100%;
}

.logo {
  width: 100%;
  height: 64px;
  /* background: url('./logo.svg') no-repeat center center; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-content {
  height: 100%;
}

/* 页面加载的loading位置 */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seckill.ant-switch-checked {
  background-color: #f66;
}

/* .tsparticles-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */